@import "styles/spectate";
//styling stuff for dropdown
// Uncomment the following line before publishing a News story
@import "styles/news-ellipsis";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    max-height: 0 !important;
}

.dropdown {
    z-index: 1;
    position: absolute;
    margin-top: -30px;
    right: 15%;
    border: 0.1em solid black;
    width: 11em;
    margin-bottom: 1em;
    margin-left: 15%;
    font-family: "Roboto", sans-serif;
}

.dropdown .title {
    margin: .3em .3em .3em .3em;
    width: 100%;
}

.dropdown .title .fa-angle-right {
    float: right;
    transition: transform .3s;

}

.dropdown .menu {
    position: relative;
    right: 0;
    transition: max-height .5s ease-out;
    max-height: 20em;
    overflow: hidden;
    background-color: white;
    width: 11em;
}

.dropdown .menu .option {
    margin: .3em .3em .3em .3em;
    margin-top: 0.3em;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
}

.dropdown .menu .option:hover {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.pointerCursor:hover {
    right: 0;
    cursor: pointer;
}

.rotate-90 {
    right: 0;
    transform: rotate(90deg);
}

#grid {
    z-index: 0;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: sticky;
    z-index: -5;
    overflow-x:hidden;
}

#header {
    margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;
    display: none;
}

#features {
    padding-top: 0vh;
    padding-bottom: 20vh;
    z-index: 100;
}

#drive-slide-3 {
    opacity: 0;
}


.centered {
    width: 50vw;
    margin: 0 auto;
}

#grid {
    width: 70%;
    height: auto;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.light {
    color: #444;
    background-color: #fafafa;
}

.dark {
    color: #fafafa;
    background-color: #444;
}

.step {
    
    span {
        border-radius: 2px;
        padding: 4px 4px 2px 4px;
    }

    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
    transition: 0.5s;

    div {
        padding: 25px 50px;
        line-height: 25px;
        font-size: 16px;
    }

    p {
        color: white;
        font-family: "Roboto", sans-serif;
        margin: 0 !important;
    }


    img {
        width: 100%;
    }

}


.step.active {
    opacity: 0.9;
}


.mark {
    background-size: cover;
    margin-top: -20px;
    width: 30px;
    height: 43px;
    cursor: pointer;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .dropdown {
        right: 0%;
    }

    #grid {
        width: 100% !important;
    }
}